@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    font-family: 'Poppins', sans-serif;
    background: #f2f1ec;
    overflow-x: hidden !important;
  }
}

@layer components{
  .hero-ring{
    @apply absolute translate-y-[-50%] z-10 bg-priColor border-[7.6px] border-transparentWhite rounded-full
    min-[1900px]:top-[60%] min-[1900px]:left-[-7em] min-[1900px]:h-[70%] min-[1900px]:w-[80%]
    min-[1700px]:top-[60%] min-[1700px]:left-[-7em] min-[1700px]:h-[70%] min-[1700px]:w-[80%]
    min-[1634px]:top-[58%] min-[1634px]:left-[-7em] min-[1634px]:h-[70%] min-[1634px]:w-[80%]
    min-[1512px]:top-[58%] min-[1512px]:left-[-7em] min-[1512px]:h-[65%] min-[1512px]:w-[80%]
    min-[1400px]:top-[60%] min-[1400px]:left-[-4em] min-[1400px]:h-[55%] min-[1400px]:w-[82%]
    min-[1200px]:top-[57%] min-[1200px]:left-[-6em] min-[1200px]:h-[51%] min-[1200px]:w-[90%]
    min-[1100px]:top-[57%] min-[1100px]:left-[-4em] min-[1100px]:h-[48%] min-[1100px]:w-[90%]
    lg:top-[57%] lg:left-[-4em] lg:h-[45%] lg:w-[90%]
  }
}

@layer utilities{
  .nav-icon{
    @apply text-[white] text-[13px] font-semibold bg-transparentWhite hover:bg-transparentWhiteHover mx-1 rounded-full;
  }

  .notify-badge{
    @apply absolute top-0 right-0 bg-secColor rounded-full px-[7px] py-[2px] text-priColor font-medium text-[10px];
  }
}